<p>
  Say hi:
</p>
<ol>
  <li><a href="http://twitter.com/rasmusrn">Twitter: @rasmusrn</a></li>
  <li>
    <script type="text/javascript">
    document.write('<a href="mailto:');
    document.write('rasmusrnielsen');
    document.write('@');
    document.write('gmail.com');
    document.write('">Email: rasmusrnielsen');
    document.write('@');
    document.write('gmail.com');
    document.write('</a>');
    </script>
  </li>
  <li><a href="http://www.facebook.com/rasmus">Facebook</a></li>
  <li><a href="https://github.com/rasmusrn">Github: rasmusrn</a></li>
</ol>
